# For MetaApi
VITE_ACCOUNT_ID=your-metaapi-account-id
VITE_TOKEN=your-metaapi-token

# For MetaTrader
VITE_ACCOUNT_NAME=your-metatrader-account-name
VITE_SERVER_NAME=your-metatrader-server-name
VITE_PASSWORD=your-metatrader-password
VITE_LOGIN=your-metatrader-login

# For CopyFactory
VITE_SUBSCRIBER_ACCOUNT_ID=your-subscriber-account-id
VITE_PROVIDER_ACCOUNT_ID=your-provider-account-id
VITE_TELEGRAM_BOT_TOKEN=your-telegram-bot-token
VITE_TELEGRAM_CHAT_ID=your-telegram-chat-id
VITE_STRATEGY_ID=your-strategy-id

# Meta
VITE_DOMAIN=agiliumtrade.agiliumtrade.ai
VITE_SYMBOL=your-symbol-id 